# Пример переменных окружения
# Скопируйте этот файл в .env для локальной разработки
# Для Vercel добавьте эти переменные в Dashboard → Settings → Environment Variables

TELEGRAM_BOT_TOKEN=8510455686:AAEvlK1P3_yt6btesENX_-d2OMDn5H6T1AQ
DATABASE_URL=libsql://pol-strany-hun7eee.aws-eu-west-1.turso.io
TURSO_AUTH_TOKEN=eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJhIjoicnciLCJpYXQiOjE3NjQ2MjA5MzgsImlkIjoiYjIzMDljZmMtZGFhMi00MWViLTkyYTAtNzM3NDJiM2UwNzA4IiwicmlkIjoiYWFiNTY0M2EtOWZiOS00MjQ1LWFhYmQtZDNmNzEzNmIwZDVjIn0.fF8XEVaKVVR4bgJ3BEBtnoU6v3AvnryFS5rKzJ-iity9WYvwHyNxHjjGLGhjMUOo9vIDITN8EW0Z7W5wxrGxDA
APP_URL=https://your-project.vercel.app
PORT=3000
NODE_ENV=production

